<h1 id="about">About</h1>

<blockquote class="blockquote">
  <p class="mb-0"><em>DISKORD is a band that can truly be said to have taken the meaning of “obscure” 
 to entirely new levels. Their recent offering, aptly named «DYSTOPICS», has garnered 
 them a wealth of connoisseurial praise and is literally bursting at the seams with a very 
 twisted and outlandish death metal. One is treated to riffs so hoarily old school and 
 exquisite one would think they were tested in some death metal lab to ensure maximum rapture. 
 That means expert use of doomy sludge, blast beats and everything in between that amounts to 
 a blunt but sophisticated emotional blitz. Coupled to alienating lyrics that target and dissect
 those urges that are left simmering in the back of your brain, even after a death metal gig, 
 DISKORD is a band that aims to thoroughly fracture the mind behind the convulsing body.</em></p>
  <footer class="blockquote-footer">INFERNO METAL FESTIVAL MAGAZINE, 2013</footer>
</blockquote>

<img width="80%" src="assets/img/DISKORD_promo_photo_2015_SCREEN_SIZE_500x700px.jpg" />
<p>Left to right: Hans Jørgen - drums/vocals; Dmitry - guitars/vocals; Eyvind - bass/vocals. 
Photo by <a href="http://photopit.no" target="_blank">photopit.no</a></p>

Previous members:
<ul>
<li>Channard: guitar 1999 - 2007 </li>
<li>Espen: guitar 2007 - 2011 </li>
<li>Håvard: guitar - 2011 - 2014 </li>
</ul>
