<h1>Contact</h1>
<p>
 Write us an email on <a href="contact@diskord.net">contact@diskord.net</a>. 
 Your email will be forwarded to all members of the band.
</p>
<p>If you want to buy some merch from us (CDs, vinyl records, shirts, etc.), 
  the best plan is to head on to our 
  <a href="https://diskord.bandcamp.com" target="_blank">BandCamp page</a>, 
  which is managed by the band members.
</p>
<p>
  If you prefer a more old-school approach, you may send us your death threats to 
  the address below:
</p>
<p>
DISKORD c/o<br>
Hans Jørgen Ersvik<br>
Enerhauggata 3, apt. 816<br>
0651 Oslo<br>
NORWAY<br>
</p>
