  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button  #navbarToggler type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="#">DISKORD <span id="ndm">- Norwegian Death Metal</span></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a (click)="collapseNav();" routerLink="news">News</a></li>
          <li routerLinkActive="active"><a (click)="collapseNav();" routerLink="live">Live</a></li>
          <li routerLinkActive="active"><a (click)="collapseNav();" routerLink="disco">Discography</a></li>
          <li routerLinkActive="active"><a (click)="collapseNav();" routerLink="about">About</a></li>
          <li routerLinkActive="active"><a (click)="collapseNav();" routerLink="contact">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a (click)="collapseNav();" href="https://diskord.bandcamp.com" target="_blank"><i class="fa fa-bandcamp fa-lg" aria-hidden="true"></i></a></li>
          <li><a (click)="collapseNav();" href="https://facebook.com/DiskordNorway" target="_blank"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a></li>
          <li><a (click)="collapseNav();" href="https://instagram.com/DiskordNorway" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a></li>
          <li><a (click)="collapseNav();" href="https://www.youtube.com/DiskordNorway" target="_blank"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a></li>
          <li><a (click)="collapseNav();" href="https://twitter.com/DiskordNorway" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
        </ul> 
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
      <app-front-carousel [images]="images"></app-front-carousel>
      <!--<img src="assets/img/hero-bg.jpg" width="100%" />-->
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /container -->
