<h1 id="news">
  News
</h1>
<div class="row">
  <div class="col-sm-8">
    <div class="news-item" *ngFor="let item of news;  let i = index">
      <div *ngIf="i <= 2 || showAll">
        <h3>{{item.heading}}</h3>
        <div *ngIf="item.innerHtml != null" [innerHtml]="item.innerHtml"></div>
        <div *ngIf="item.text != null">
          <p>{{item.text}}</p>
        </div>
        <div *ngIf="item.img != null">
          <a href="{{item.img}}" data-lightbox="image" data-title="{{item.caption}}">
            <img class="ui bordered small image" src="{{item.img}}">
          </a>
        </div>
        <em> {{item.date}}</em>
      </div>
    </div>
    <div *ngIf="!showAll">
      <p></p>
      <p>
        <a class="btn" (click)="toggleAll()">Show older news</a>
      </p>
    </div>
  </div>
  <div class="col-sm-4">
    <a class="twitter-timeline" data-lang="en" data-theme="dark" data-height="900" data-chrome="noheader nofooter" data-link-color="#F5F8FA" href="https://twitter.com/DiskordNorway?ref_src=twsrc%5Etfw">Tweets by DiskordNorway</a> 
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <!-- <div class="fb-page" 
    data-href="https://www.facebook.com/DiskordNorway/" data-tabs="timeline" data-width="" data-height="1500" data-small-header="true" 
    data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
    <blockquote cite="https://www.facebook.com/DiskordNorway/" class="fb-xfbml-parse-ignore">
    <a href="https://www.facebook.com/DiskordNorway/">Diskord</a></blockquote>
  </div> -->
</div>
          
          
          