/* You can add global styles to this file, and also import other style files */
.jumbotron {
    font-size: "12px";
}

a:link, a:visited {
  color: lightgray;
}

/* Smartphones ----------- */
@media only screen and (max-width: 1000px) {
  #ndm { display: none; }
}