<section id="hero">
    <div class="hero-content">
        <h1>Diskord - Degenerations</h1>
        <a href="assets/img/releases/degenerations/degenerations-front-cover.jpg">
        <img width="500" src="assets/img/releases/degenerations/degenerations-front-cover.jpg">
        </a>
        <br>
        <img width="500" src="assets/img/releases/degenerations/degenerations-products.jpeg">
        <p><br>
            Our latest release Degenerations is out now. Get your copy from 
            <a href="https://diskordband.bandcamp.com" target="_blank">our label</a>, 
            Transcending Obscurity Records, or <a href="https://diskord.bandcamp.com" target="_blank">directly from us</a>.</p>
    </div>  
</section>
<section id="lineup">
    <h2>Lineup</h2>
    <ul>
    <li>Hans Jørgen - Drums and vocals</li>
<li>Dmitry - Guitars and vocals</li>
<li>Eyvind - Bass guitar, electric upright bass, cello, theremin, synth, vocals</li>
</ul>
Artwork by Sindre Foss Skancke.<br>
Mixed and mastered by Colin Marston.
</section>
<section id="listen">
    <h2>Listen now</h2>
    Degenerations can be streamed from your preferred provider, such as
    <ul>
        <li><a href="https://diskordband.bandcamp.com" target="_blank">BandCamp</a></li>
        <li><a href="https://www.youtube.com/watch?v=iYGiboGghqA" target="_blank">YouTube</a></li>
        <li><a href="https://open.spotify.com/album/3bJtNIBRxkVF9fNkpPyUz3" target="_blank">Spotify</a></li>
        <li><a href="https://music.apple.com/us/album/degenerations/1568590965" target="_blank">Apple Music</a></li>
        <li><a href="https://tidal.com/browse/album/196486872" target="_blank">Tidal</a></li>
    </ul>
</section>

