/* Global styles */
body {
    color: #333;
    line-height: 1.6;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;    
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    padding: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin-bottom: 5px;
}

/* Hero section */
#hero {
    /* text-align: center; */
    padding: 10px 0;
}

.hero-content {
    position: relative;
}

.hero-content img {
    display: inline;
    float: right;
    /* gmm */
    margin: 20px;
    max-width: 90%;
    height: auto;
    /* border-radius: 95%; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

#hero p, ul, ol, a {
    font-size: 18px;
    margin-bottom: 30px;
}

li {
    font-weight: 200;
}

.cta {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
