<section id="hero">
    <div class="hero-content">
        <h1>Diskord/Atvm - Bipolarities</h1>
        <a href="assets/img/releases/bipolarities/bipolarities-front-cover.jpg" data-lightbox="image">
            <img width="500" src="assets/img/releases/bipolarities/bipolarities-front-cover.jpg">
        </a>
        <br>
        <a href="assets/img/releases/bipolarities/bipolarities-merch.jpg" data-lightbox="image">
            <img width="500" src="assets/img/releases/bipolarities/bipolarities-merch.jpg">
        </a>
        <p><br>
            We have just put a split LP with our buddies in Atvm up for preorder. Get your copy from
            our label,
            <a href="https://diskordband.bandcamp.com" target="_blank">Transcending Obscurity Records</a>.
            Various merch items are also available from the same outlet.
        </p>

        <h2>Listen now</h2>
        <p>The full album can be streamed from all the main music providers, e.g:</p>
        <ul>
            <li><a href="https://diskordband.bandcamp.com/album/bipolarities" target="_blank">BandCamp</a></li>
            <li><a href="https://www.youtube.com/watch?v=2ghTJm5gqyc" target="_blank">YouTube</a></li>      
            <li><a href="https://open.spotify.com/album/60xgifi3BEOHG3wBhIjU84" target="_blank">Spotify</a></li>
            <li><a href="https://music.apple.com/us/album/bipolarities/1739681170" target="_blank">Apple Music</a></li>
            <li><a href="https://tidal.com/browse/album/355466134" target="_blank">Tidal</a></li>
            <li><a href="https://www.qobuz.com/au-en/album/bipolarities-diskord-atvm/b3q4zjexmqzra" target="_blank">Qobuz</a></li>
        </ul>

        <h2>Track list</h2>
        <h4>Diskord:</h4>
        <ol>
            <li>Onward! To Nowhere</li>
            <li>Pass the Baton</li>
            <li>Shivering, As We Shed Our Hides</li>
            <li>Cogged Pother</li>
        </ol>

        <h4>Atvm:</h4>
        <ol>
            <li>Cancer</li>
            <li>Morhpine</li>
        </ol>

        <h2>Lineup</h2>
        <h4>Diskord:</h4>
        <ul>
            <li>Hans Jørgen - Drums and vocals</li>
            <li>Eyvind - Bass and vocals</li>
            <li>Dmitry - Guitars and vocals</li>
        </ul>
        Atvm
        <p>
            Artwork by Will Sweeney.<br>
            Mixed and mastered by Colin Marston.
            <br><br>
            <br><br>
        </p>

        <hr>
        
        <h1>Diskord - Degenerations</h1>
        <a href="assets/img/releases/degenerations/degenerations-front-cover.jpg" data-lightbox="image">
            <img width="500" src="assets/img/releases/degenerations/degenerations-front-cover.jpg">
        </a>
        <br>
        <a href="assets/img/releases/degenerations/degenerations-products.jpeg" data-lightbox="image">
            <img width="500" src="assets/img/releases/degenerations/degenerations-products.jpeg">
        </a>
        <p><br>
            Our latest release Degenerations is out now. Get your copy from
            our label,
            <a href="https://diskordband.bandcamp.com" target="_blank">Transcending Obscurity Records</a>,
            or <a href="https://diskord.bandcamp.com" target="_blank">directly from us</a>.
            Various merch items are also available from the same outlets.
        </p>

        <h2>Listen now</h2>
        <p>Degenerations can be streamed from your preferred provider, such as</p>
        <ul>
            <li><a href="https://diskordband.bandcamp.com" target="_blank">BandCamp</a></li>
            <li><a href="https://www.youtube.com/watch?v=iYGiboGghqA" target="_blank">YouTube</a></li>
            <li><a href="https://open.spotify.com/album/3bJtNIBRxkVF9fNkpPyUz3" target="_blank">Spotify</a></li>
            <li><a href="https://music.apple.com/us/album/degenerations/1568590965" target="_blank">Apple Music</a></li>
            <li><a href="https://tidal.com/browse/album/196486872" target="_blank">Tidal</a></li>
        </ul>

        <h2>Track list</h2>
        <ol>
            <li>Loitering in the Portal</li>
            <li>Bionic Tomb Eternal</li>
            <li>Abnegations</li>
            <li>The Endless Spiral</li>
            <li>Dirigiste Radio Hit</li>
            <li>Lone Survivor</li>
            <li>Dragged for Coronation</li>
            <li>Clawing at the Fabric of Space</li>
            <li>Atoms Decay</li>
            <li>Raging Berzerker in the Universe Rigid</li>
            <li>Gnashing</li>
            <li>Beyond the Grime</li>
        </ol>

        <h2>Lineup</h2>
        <ul>
            <li>Hans Jørgen - Drums and vocals</li>
            <li>Dmitry - Guitars and vocals</li>
            <li>Eyvind - Bass guitar, electric upright bass, cello, theremin, synth, vocals</li>
        </ul>
        <p>
            Artwork by Sindre Foss Skancke.<br>
            Mixed and mastered by Colin Marston.
            <br><br>
            All songs written and arranged by Diskord, except no. 1 by Diskord and Espen T. Hangård,
            and no. 10 by Diskord and Håvard Østli.
        </p>
    </div>
</section>
