<h1>Live</h1>

<h3>Upcoming gigs</h3>
<div *ngIf="upcoming.length > 0">
  <ul>
    <li *ngFor="let p of upcoming">
      {{p.date}}: {{p.description}}
      <span *ngIf="p.link != undefined"> | <a href="{{p.link}}" target="_blank">event page</a></span>
      <span *ngIf="p.poster != undefined"> | <a href="{{p.poster}}" target="_blank">poster</a></span>
      <div *ngIf="p.gigs?.length > 0">
        <ul>
          <li *ngFor="let g of p.gigs">
            {{g.date}}: {{g.description}}
            <span *ngIf="g.link != undefined"> | <a href="{{g.link}}" target="_blank">event page</a></span>
            <span *ngIf="g.poster != undefined"> | <a href="{{g.poster}}" target="_blank">poster</a></span>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
<div *ngIf="upcoming.length == 0">
  <p>We are in songwriting mode at the moment, so no gigs planned in the near future; stay tuned for updates!</p>
</div>

<h3>Past gigs</h3>
<ul>
  <li *ngFor="let p of past">
    {{p.date}}: {{p.description}}
    <span *ngIf="p.link != undefined"> | <a href="{{p.link}}" target="_blank">event page</a></span>
    <span *ngIf="p.poster != undefined"> | <a href="{{p.poster}}" target="_blank">poster</a></span>
    <div *ngIf="p.gigs?.length > 0">
      <ul>
        <li *ngFor="let g of p.gigs">
          {{g.date}}: {{g.description}}
          <span *ngIf="g.link != undefined"> | <a href="{{g.link}}" target="_blank">event page</a></span>  
          <span *ngIf="g.poster != undefined"> | <a href="{{g.poster}}" target="_blank">poster</a></span>
        </li>
      </ul>
    </div>
  </li>
</ul>